@use "../../styles/mixins.scss" as *;

.about {
    @include default-page-styles;
    background-color: lightsalmon;
    display:flex;
    flex-direction: column;

    &__class-photo {
        width: 80%;
        margin: 0 auto;

    }
}